wh-info-sys-sapi/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
     <flow name="wh-info-sys-sapi-main">
        <http:listener config-ref="wh-info-sys-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="wh-info-sys-sapi-config" />
		<error-handler ref="Main_Error_Handler" />

    </flow>
    <flow name="wh-info-sys-sapi-console">
        <http:listener config-ref="wh-info-sys-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="wh-info-sys-sapi-config" />
        <error-handler ref="Main_Error_Handler">
            
        </error-handler>
    </flow>
    <flow name="get:\healthcheck:wh-info-sys-sapi-config">
		<set-variable value="#[correlationId]" doc:name="Set Variable" doc:id="0535efca-deae-4113-8c04-424e86217440" variableName="CorelationId" />
		<logger level="INFO" doc:name="Logger" doc:id="5f99c1b0-91bc-4fe8-942e-7010d4ab4751" message="#['StartLog ' ++ vars.CorelationId]" />
		<flow-ref doc:name="Flow Reference" doc:id="d53f52d7-1814-475e-b409-3b8729dd3c90" name="HealthCheck_Flow" />
		<logger level="INFO" doc:name="Logger" doc:id="18474617-9655-43c5-bc33-db80ec8b9504" message="#['EndLog ' ++ vars.CorelationId]" />
		<error-handler ref="Wh_info_ErrorHandlerError_Handler" />
    </flow>
    <flow name="get:\whInfo:wh-info-sys-sapi-config">
		<set-variable value="#[correlationId]" doc:name="Set Variable" doc:id="ec87cbf4-434b-4082-b6fd-fbc848e667b3" variableName="CorelationId" />
		<logger level="INFO" doc:name="Logger" doc:id="39b13569-e320-4d2f-a416-9d6ed0df2263" message="#['StartLog ' ++ vars.CorelationId]" />
		<flow-ref doc:name="Flow Reference" doc:id="789df3d1-50c4-434e-9a5c-218ac825b9a9" name="getWh_info" />
		<logger level="INFO" doc:name="Logger" doc:id="f8f78dce-0072-4395-9773-c67c5cb29f9a" message="#['EndLog ' ++ vars.CorelationId]" />
		<error-handler ref="Wh_info_ErrorHandlerError_Handler" />
    </flow>
</mule>
